@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        Click Submit to show discontinued items
        <input type="hidden" asp-for="Discontinued" value="placeholder">
        <input type="submit" value="Submit">
    </form>
    <br><br/>
    <p>@IsDiscontinued.getIsDiscontinued(Model.Discontinued)</p>
</div>

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        Enter a Country:
        <input type="text" asp-for="CountryCus">
        <input type="submit" value="Submit">
    </form>
    <br><br/>
    <p>@ListCustomersInfo.getListCustomersInfo(Model.CountryCus)</p>
    <br><br/>
</div>

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        Enter a Country:
        <input type="text" asp-for="CountrySup">
        <input type="submit" value="Submit">
    </form>
    <br><br/>
    <p>@ListSupplierInfo.getListSupplierInfo(Model.CountrySup)</p>
    <br><br/>
</div>
