# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.p7_C00231110-C00439696.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
